* {
  box-sizing: border-box; }

htm, body {
  margin: 0;
  padding: 0; }

header {
  border: 20px solid #000;
  height: 100vh;
  background: yellow;
  padding: 3em 6em; }
  header h1 {
    margin-top: 0;
    font-size: 10vw;
    text-align: center; }

article {
  padding: 1em 3em; }

footer {
  text-align: center;
  margin-bottom: 3em; }

header.shorter {
  background: #C589FF;
  height: 90vh; }
  header.shorter h1 {
    font-size: 8vw; }
  header.shorter h2 {
    font-size: 6vw; }
